@import "colors";

header {
  background: @color-blue-light;
  background: -moz-linear-gradient(top,  @color-blue-lighter 0%, @color-blue-light 100%);
  background: -webkit-linear-gradient(top,  @color-blue-lighter 0%,@color-blue-light 100%);
  background: linear-gradient(to bottom,  @color-blue-lighter 0%,@color-blue-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fc1e7', endColorstr='#4384c5',GradientType=0 );

  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);

  border-bottom: 2px solid @color-blue;

  display: block;
  width: 100%;
  padding: 20px 10px;
  text-align: center;

  .header-title {
    color: white;
    font-size: 1.5em;
  }
}

.container {
  padding-top: 40px;
  max-width: 1200px;
  margin: auto;

  @media(min-width: 801px) {
    padding-top: 60px;
  }
}

.row {
  display: flex;
  flex-direction: column;

  @media(min-width: 801px) {
    flex-direction: row;
  }

  .col {
    flex: 1;
  }
}

.players {
  .player {
    display: flex;

    @media(min-width: 801px) {
      flex-direction: column;
    }

    &:last-child {
      margin-top: 20px;
    }

    .player-id, .player-name, .current {
      color: @color-blue;
      text-align: center;
      flex: 1;
      font-size: 1.3em;

      @media(min-width: 801px) {
        font-size: 2em;
      }
    }

    .current {
      color: black
    }
  }
}

.help-text {
  display: none;
  padding: 10px 20px;
  margin: auto;
  color: @color-blue;
  font-size: 1.3em;
  margin-top: 30px;

  @media(min-width: 801px) {
    display: block;
  }
}

.board-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;

  @media(min-width: 801px) {
    position: relative;
  }
}
